.filter-bar{
    display: flex;
    justify-content:space-around;
    margin:20px 0;
}

.filter-bar button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
}

.filter-bar button.active {
  background: #646cff;
  color: white;
  border-color: #646cff;
}